* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 16px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4003ca;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-lists-container {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}
